* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

a { 
    text-decoration: none; 
   }

.wrapper {
    max-width: 1200px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    background: #fff;
    display: flex;
}

.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #a5a9b0;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    margin-right: 10px;
}

.tech-skill-container {
    padding-top: 55px;
    padding-left: 40px;
}

.tech-skill-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.soft-skill-container {
    padding-top: 55px;
    padding-left: 40px;
}

.soft-skill-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.skill-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #ff6b08;
}

.skill-item-text {
    color: #d8dadd;
}


.about-me-container{
    /*padding-top: 110px; */
    padding-top: 50px;
    padding-bottom: 110px;
    padding-left: 90px;
    padding-right: 90px;
}

.language-box {
    margin-bottom: 35px;
    text-align: right

}

.language {
    color:  #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 40px;
}

.info-container {
    margin-bottom: 65px;
}

.profession {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}

.text-about-me {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3c4553;
}

.project-container {
    margin-bottom: 50px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-item {
    font-weight: 700;
    margin-left: 15px;
}

.projects-link {
    color: #3c4553;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.tech-name {
    color: #3c4553;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-position {
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 15px;
}


.date-country {
    font-size: 12px;
    font-weight: 400;
    color: #a8a8a8;
}

.vertical-line {
    border-left: 1px solid black;
    height: 14px;
    margin-left:  8px;
}
.country {
    margin-left:  8px;
}

.profession-duties {
    margin-top: 15px;
    margin-left: 15px;
}

.еducation {
    margin-top: 55px;
}

.specialty {
    margin-top: 15px;
    margin-bottom: 15px;
}

.color-orang {
    color: #ff6b08;
}
.color-black {
    color: #000;
}

.underline {
    text-decoration: underline;
}
